<div class="buttons">
        <a href="javascript:Mibew.Utils.closeChatPopup();" title="{{l10n "Close..."}}">
            <i class="glyphicon glyphicon-remove"style="color:#80bfff" />
        </a>
</div>
<div class="info-message">{{l10n "Thank you for your message. We'll answer your query by email as soon as possible."}}</div>